# ARQUIVO DE EXEMPLO - DUPLIQUE ESTE ARQUIVO E RENOMEIE PARA .env
# use '\conninfo' (psql shell para obter as informações abaixo)
# também rode '\l' para verificar se criou o banco
DB_HOST=localhost
DB_PORT=5432
DB_NAME=stocker_manager
DB_USER=postgres
DB_PASS=Sua_senha_aqui
